body{
    background-color: var(--th-black);
}

.header{
    background-color: var(--th-black); 
}


.header__container{
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    align-self: center;
}

.header__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.header__link{
    font-family: 'dmsans-light';
    font-size: 17px;
    line-height: 27px;
}

.header__nav{
    display: flex;
    flex-direction: row;
}

.header__link, .header__link:active{
    color: var(--white);
}

.header__link:hover{
    color: var(--mediter);
}

.header__navbar{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 40px;
}